<h1>任務內容</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <td>任務內容</td>
      <td>任務結束時間</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.description %></td>
      <td><%= @task.end_at&.strftime('%Y-%m-%d %H:%M') %></td>
      <td><%= link_to "修改", edit_task_path(@task) %></td>
      <td><%= link_to "刪除", task_path(@task), method: :delete, data: {confirm: "確認刪除?", "bootstrap-confirm": 'delete' }, class:"btn btn-danger btn-xs" %></td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to "返回列表", tasks_path %>
